* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

main {
    display: flex;
    justify-content: center;
    flex: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(173, 173, 173);
    padding: 40px;
    text-align: center;
    font-size: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(145, 145, 145);
    padding: 10px;
}

nav button {
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 0;
    height: 40px;
    width: 110px;
    font-size: 16px;
    margin-right: 15px;
    transition: 200ms;
    cursor: pointer;
}

nav button:hover {
    transform: scale(1.10);
    transition: 200ms;
}

section {
    padding: 4rem;
    display: none;
}

section.active {
    display: block;
}

section p {
    text-align: justify;
    text-indent: 2em;
    font-size: 18px;
}

section ul li {
    font-size: 18px;
}

li {
    margin-bottom: 10px;
}

.img-intelbras {
    border: black solid;
    width: 575px;
    height: 325px;
}

.imagem-tj {
    width: 575px;
    height: 400px;
    border: black solid;
}

.imagem3 {
    width: 525px;
    margin-right: 50px;
    border: black solid;
}

.imgg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.regiao {
    display: flex;
    flex-direction: column;
}

span {
    font-size: 17px;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    color: #1f1f1f;
    border-bottom: 2px solid #1f1f1f;
    padding-bottom: 5px;
}

h3 {
    margin-top: 15px;
    color: #0c0c0c;
}

.grid-box3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.printTinkercad {grid-area: 1 / 1 / 2 / 2;}
.imgArduino {grid-area: 1 / 2 / 2 / 3;}
.video-led {grid-area: 1 / 3 / 2 / 4;}

.grid-box2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 32px;
}

.grid-box2F {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 32px;
}
    
.codeLED { grid-area: 1 / 1 / 2 / 2; }
.code7Seg { grid-area: 1 / 2 / 2 / 3; }

.fotoMultimetro { grid-area: 1 / 1 / 2 / 2; }
.foto7Seg { grid-area: 1 / 2 / 2 / 3; }

.grid-box2F,
.grid-box3 img{
    width: 500px;
}

pre{
    background-color: #131313;
    color: rgb(250, 249, 249);
    border-radius: 12px;
    padding: 12px;
}

label {
    font-size: 20px;
}

input {
    margin-top: 5px;
    width: 800px;
    height: 30px;
    font-size: 20px;
}


.div-video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-calc {
    text-align: left;
    width: 70rem;
}

#btn-calculo {
    background-color: rgb(100, 100, 100);
    border-radius: 15px;
    color: white;
    text-decoration: none;
    border: 0;
    transition: 200ms;
    cursor: pointer;
    margin-top: 20px;
    font-size: 30px;
}

#btn-calculo:hover {
    transform: scale(1.10);
    transition: 200ms;
}

#resultado {
    font-size: 20px;
    margin-top: 10px;
}

footer {
    padding: 15px;
    background: rgb(145, 145, 145);
    color: black;
    font-size: 18px;
    margin-top: auto;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-info i:hover {
    transform: scale(1.10);
    transition: 100ms;
}

#calculadora.active {
    text-align: center;
}