body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
  
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(173, 173, 173);
    padding: 20px;
    text-align: center;
}
  
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(145, 145, 145);
    padding: 10px;
}

nav button{
    background-color: rgb(100,100,100);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 0;
    height: 40px;
    width: 110px;
    font-size: 16px;
    margin-right: 15px;
    transition: 200ms;
    cursor: pointer;
}

nav button:hover{
    transform: scale(1.10);
    transition: 200ms;
}
  
main {
    padding: 20px;
    margin: auto 300px;
}
  
section {
    margin-bottom: 40px;
    display: none;
}

section.active{
    display: block;
}

section p{
    text-align: justify;
    text-indent: 2em;
}

section p span{
    text-indent: 2em;
}

li{
    margin-bottom: 10px;
}

h2 {
    color: #1f1f1f;
    border-bottom: 2px solid #1f1f1f;
    padding-bottom: 5px;
}
  
h3 {
    margin-top: 15px;
    color: #0c0c0c;
}
  
footer {
    padding: 15px;
    background: rgb(145, 145, 145);
    color: black;
    font-size: 18px;
}

.footer-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-info i:hover{
    transform: scale(1.10);
    transition: 100ms;
}
  